<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUTH_WEB_URL</key>
	<string></string>
	<key>SUPABASE_URL</key>
	<string></string>
	<key>SUPABASE_ANON_KEY</key>
	<string></string>
	<key>CustomTranscriptionEndpoint</key>
	<string></string>
	<key>CustomTranscriptionRealtimeEndpoint</key>
	<string></string>
	<key>CustomTranscriptionModel</key>
	<string></string>
	<key>CustomTranscriptionRealtimeModel</key>
	<string></string>
	<key>CustomTranscriptionKey</key>
	<string></string>
	<key>CustomTranscriptionTransport</key>
	<string></string>
	<key>OpenAITranscriptionKey</key>
	<string></string>
	<key>AIDictationPostProcessingEndpoint</key>
	<string></string>
	<key>AIDictationPostProcessingKey</key>
	<string></string>
	<key>GroqTranscriptionKey</key>
	<string>YOUR_GROQ_TRANSCRIPTION_KEY_HERE</string>
	<key>GroqLLMKey</key>
	<string></string>
	<key>SENTRY_DSN</key>
	<string></string>
	<key>SentryDSN</key>
	<string></string>
	<key>STRIPE_PAYMENT_LINK</key>
	<string></string>
	<key>STRIPE_PAYMENT_LINK_MONTHLY</key>
	<string></string>
	<key>STRIPE_PAYMENT_LINK_ANNUAL</key>
	<string></string>
	<key>STRIPE_PAYMENT_LINK_LIFETIME</key>
	<string></string>
</dict>
</plist>
