<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CustomTranscriptionKey</key>
    <string></string>
    <key>CustomTranscriptionEndpoint</key>
    <string>https://writingmate.ai/api/openai/v1/audio/transcriptions</string>
    <key>CustomTranscriptionModel</key>
    <string>gpt-4o-transcribe</string>
    <key>SUPABASE_URL</key>
    <string></string>
    <key>SUPABASE_ANON_KEY</key>
    <string></string>
    <key>STRIPE_PAYMENT_LINK_MONTHLY</key>
    <string></string>
    <key>AUTH_WEB_URL</key>
    <string>https://voicesinmyhead.co/auth</string>
</dict>
</plist>
